/* 제목 스타일 설정 */
.root h1 {
    font-size: 2em;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.root h2 {
    font-size: 1.5em;
    margin-top: 30px;
    margin-bottom: 10px;
}

/* 본문 텍스트 스타일 설정 */
.root p {
    line-height: 1.6;
    margin-bottom: 20px;
}

/* 리스트 스타일 설정 */
.root ol {
    margin-left: 20px;
}

.root ol li {
    margin-bottom: 10px;
}

/* 회원 의무 및 기타 사항 스타일 설정 */
.root ol li:before {
    content: '• ';
}

/* 링크 스타일 설정 */
.root a {
    text-decoration: none;
}

.root a:hover {
    text-decoration: underline;
}
